*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;
}
html,body{
    font-size: 16px;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4
}
a{
    text-decoration:none;
}
h1{
    color:red;
}
